
html {
    background-color: yellow;
}
main {
    padding:1em 1em 1em 1em;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 650px;
    border:10px double blue;
    margin:auto;
    background-color:white;
}

h1{
    font-size:150%;
    color:blue;
    margin:0px 0px 5px 15px;
}
h2 {
    font-size: 125%;
    margin: 0px 0px 5px 15px;
}
h3 {
    font-size: 115%;
    margin: 0px 0px 10px 15px;
}
p {
   padding:0px 5px 0px 15px;
}
blockquote {
    margin:5px 15px 5px 15px;

}
ul {
    padding:0px 20px 0px 20px;
}

cite {
    color:blue;
    font-style:initial;
    text-align:right;
}
.cite {
    text-align: right;
    margin:0px 0px .75em 0px;
}
    footer {
    border-top: 3px solid blue;
    font-size:90%;
    font-weight:bold;
   text-align: center;
        margin:0px 15px 0px 15px;
}
img{
    float:left;
    padding:0em 1em 1em 1em;
}
