html {
    background-color: yellow;
}
main {
    padding:1em 1em 1em 1em;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 650px;
    border:10px double blue;
    margin:auto;
    background-color:white;
}

h1{
    font-size:150%;
    color:blue;
    
}
h2 {
    font-size: 125%;
    
}
h3 {
    font-size: 115%;
   
}
p {
   padding:0px 5px 0px 5px;
}
blockquote {
    margin-inline-start: 5px;
}
ul {
    padding:0px 20px 0px 20px;
}
li {
   
}
cite {
    color:blue;
    font-style:initial;
    
}
.cite{
text-align:right;
}
} 
    footer {
    border-top: 3px solid blue;
    font-size:90%;
    font-weight:bold;
    padding:0em 15em 0em 15em;
    margin:0px 15px 0px 15px;
}
img{
    float:left;
    padding:0px .5em 0px .5em;
}
